<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>survive!</title>
</head>
<body style="background-color : gray;">
    <div>
        <span id="scoreLable" class="hidden">Score : 0</span>
    </div>

    <div class="ranking modal">
        <ul class="rankList">
            <% for (let i = 0; i < rankingResult.length; i ++) { %>
                <li><%= rankingResult[i].nickname %></li>
            <% } %>
        </ul>
    </div>
    <div class="gameStart modal">
        <h1 class="score">Game start!</h1>
        <button class="gameButton" id="startButton">Start!</button>
    </div>

    <div class="gameover modal hidden">
        <div class="yourScore">
            <label class="txt">Game Over!</label>
            <h1 name="score" class="score">0</h1>
            <p>point</p>
        </div>
        <div class="ranking">
            <ul class="rankList"></ul>
        </div>
        <form class="inputForm" action="/upload" method="post">
            <label>기록 업로드</label>
            <input type="text" class="form-control" name="nickname" required placeholder="닉네임">
            <button class="gameButton" type="submit">기록저장</button>
        </form>
        <button class="gameButton" id="restartButton">Retart!</button>
    </div>

    <canvas></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/js/circleShootingGame.js"></script>
    <script>
        
    </script>
</body>
</html>